apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-api
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-api
  template:
    metadata:
      labels:
        app: ml-api
    spec:
      containers:
      - name: ml-api
        # Use a local image name for fast k3d development: build & import this image into k3d
        image: iamrishabhverma/ml-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
